<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.d3if2029.homeworkout">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo_aplikasi"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_aplikasi"
        android:supportsRtl="true"
        android:theme="@style/Theme.HomeWorkout"
        tools:remove="android:appComponentFactory"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity3"
            android:exported="false" />
        <activity
            android:name=".MainActivity2"
            android:exported="false"
            android:label="@string/title_activity_main2"
            android:theme="@style/Theme.HomeWorkout.NoActionBar" />
        <activity
            android:name=".uicewek.homecewek.HomeFragmentCewek"
            android:label="Home Fragment Cewek"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".ui.profile.FoodDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.profile.NutrisiActivity"
            android:exported="false" />
        <activity
            android:name=".ui.menulatihan.SelesaiLatihanActivity"
            android:exported="false" />
        <activity
            android:name=".ui.menulatihan.SelesaiLatihan2Activity"
            android:exported="false" />
        <activity
            android:name=".ui.menulatihan.SelesaiLatihan3Activity"
            android:exported="false" />
        <activity
            android:name=".ui.menulatihan.SelesaiLatihan4Activity"
            android:exported="false" />
        <activity
            android:name=".ui.menulatihan.SelesaiLatihan5Activity"
            android:exported="false" />
        <activity
            android:name=".ui.menulatihan.SelesaiLatihan6Activity"
            android:exported="false" />
        <activity
            android:name=".uicewek.menulatihancewek.SelesaiLatihanCewekActivity"
            android:exported="false" />
        <activity
            android:name=".uicewek.menulatihancewek.SelesaiLatihanCewek2Activity"
            android:exported="false" />
        <activity
            android:name=".uicewek.menulatihancewek.SelesaiLatihanCewek3Activity"
            android:exported="false" />
        <activity
            android:name=".uicewek.menulatihancewek.SelesaiLatihanCewek4Activity"
            android:exported="false" />
        <activity
            android:name=".uicewek.menulatihancewek.SelesaiLatihanCewek5Activity"
            android:exported="false" />
        <activity
            android:name=".uicewek.menulatihancewek.SelesaiLatihanCewek6Activity"
            android:exported="false" />


        <receiver
            android:name=".NotificationReceiver"
            android:enabled="true"
            android:exported="false" />

        <activity
            android:name=".ui.menulatihan.MenuLatihanActivity"
            android:exported="false" />
        <activity
            android:name=".ui.menulatihan.MenuLatihan2Activity"
            android:exported="false" />
        <activity
            android:name=".ui.menulatihan.MenuLatihan3Activity"
            android:exported="false" />
        <activity
            android:name=".ui.menulatihan.MenuLatihan4Activity"
            android:exported="false" />
        <activity
            android:name=".ui.menulatihan.MenuLatihan5Activity"
            android:exported="false" />
        <activity
            android:name=".ui.menulatihan.MenuLatihan6Activity"
            android:exported="false" />
        <activity
            android:name=".ui.menulatihan.MenuLatihan7Activity"
            android:exported="false" />
        <activity
            android:name=".ui.menulatihan.MenuLatihan8Activity"
            android:exported="false" />
        <activity
            android:name=".ui.menulatihan.MenuLatihan9Activity"
            android:exported="false" />
        <activity
            android:name=".uicewek.menulatihancewek.MenuLatihanCewekActivity"
            android:exported="false" />
        <activity
            android:name=".uicewek.menulatihancewek.MenuLatihanCewek2Activity"
            android:exported="false" />
        <activity
            android:name=".uicewek.menulatihancewek.MenuLatihanCewek3Activity"
            android:exported="false" />
        <activity
            android:name=".uicewek.menulatihancewek.MenuLatihanCewek4Activity"
            android:exported="false" />
        <activity
            android:name=".uicewek.menulatihancewek.MenuLatihanCewek5Activity"
            android:exported="false" />
        <activity
            android:name=".uicewek.menulatihancewek.MenuLatihanCewek6Activity"
            android:exported="false" />
        <activity
            android:name=".uicewek.menulatihancewek.ExerciseCewekActivity"
            android:exported="false" />
        <activity
            android:name=".uicewek.menulatihancewek.ExerciseCewekActivity2"
            android:exported="false" />
        <activity
            android:name=".uicewek.menulatihancewek.ExerciseCewekActivity3"
            android:exported="false" />
        <activity
            android:name=".uicewek.menulatihancewek.ExerciseCewekActivity4"
            android:exported="false" />
        <activity
            android:name=".uicewek.menulatihancewek.ExerciseCewekActivity5"
            android:exported="false" />
        <activity
            android:name=".uicewek.menulatihancewek.ExerciseCewekActivity6"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".ui.menulatihan.ExerciseActivity"
            android:exported="false" />
        <activity
            android:name=".ui.menulatihan.Exercise2Activity"
            android:exported="false" />
        <activity
            android:name=".ui.menulatihan.Exercise3Activity"
            android:exported="false" />
        <activity
            android:name=".ui.menulatihan.Exercise4Activity"
            android:exported="false" />
        <activity
            android:name=".ui.menulatihan.Exercise5Activity"
            android:exported="false" />
        <activity
            android:name=".ui.menulatihan.Exercise6Activity"
            android:exported="false" />
        <activity
            android:name=".ui.menulatihan.Exercise7Activity"
            android:exported="false" />
        <activity
            android:name=".ui.menulatihan.Exercise8Activity"
            android:exported="false" />
        <activity
            android:name=".ui.menulatihan.Exercise9Activity"
            android:exported="false" />
        <activity
            android:name=".ui.profile.BMIActivity"
            android:exported="false" />
        <activity
            android:name=".ui.splashscreen.SplasScreenActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>